<div id="chat">
  <ul id="messages"></ul>
</div>



<form id="input-message">
  <div class="input-group">

    <!-- <div class="btn-group dropup media-menu">
      <button type="button" class="btn btn-secondary">+</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li>
          hello
        </li>
        <li>
        {{#each sounds}}
          <button type="button" class="sound-button" name="button" onclick="">{{name}}</button>
          <audio controls autoplay "soundbite" style="display:none">
            <source src="/audio/{{sound}}" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        {{/each}}
      </li>
        <!-- Dropdown menu links -->
      <!-- </ul>
    </div> -->

    <div class="btn-group dropup media-menu">
      <button type="button" class="btn btn-secondary">Dropup</button>
      <button type="button" id="dropping" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <button class="dropdown-item" aria-labelledby="dropping" type="button">sound</button>
        <!-- Dropdown menu links -->
      </div>
    </div>

    <!-- <textarea rows="5" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1"> -->
      <input type="textarea" id="text" rows="5">
    <!-- </textarea> -->
  </div>
</form>
