  <div id="chat">
    <ul id="messages"></ul>
  </div>

  <form id="input">
    <div class="form-group">
      <input id="text" type="text" class="form-control" autocomplete="off">
      <input id="send" class="form-control" type="submit" value="Send">
    </div>
  </form>

  {{>character-select}}
