  <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
    <h1> WELCOME TO THE BOOSH ROOM </H1>

    <ul class="nav navbar-nav hidden-md-down float-lg-right">
        <li class="nav-item">
            <button id="menu-toggle" style="color:blue" href="#" class="navbar-toggler float-lg-right toggle" type="button" data-toggle="collapse" data-target="#sidebar-wrapper" aria-controls="sidebar-wrapper" aria-expanded="false" aria-label="Toggle navigation">Members</button>
        </li>
    </ul>

    <nav id="sidebar-wrapper">
    	<ul class="sidebar-nav">
    		<a id="menu-close" href="#" type="button" class="btn btn-danger close hidden-lg-up float-xs-right toggle" data-dismiss="sidebar-wrapper" aria-label="Close"></a>
    		<li class="sidebar-brand">
    			<a style="color:#00DCF4" href="#top">BS <strong>Members</strong></a>
    		</li>
    		<!-- <li>
    			<a href="#top" title="Go to Top">Home</a>
    		</li>
    		<li>
    			<a href="#about" title="Go to About Us section">About</a>
    		</li>
    		<li>
    			<a href="#resume" title="Navigate to Jonathan Adcox IT Resume">Resume</a>
    		</li>
    		<li>
    			<a href="#skills" title="Navigate to 'Our Services' section">Skills</a>
    		</li> -->
    	</ul>
    </nav>
  </nav>

  <div id="chat">
    <ul id="messages"></ul>
  </div>



  <form id="input-message">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">+</span>
        <input type="textarea" id="text" rows="5">
    </div>
  </form>


  {{>character-select}}
