
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  
}
#avatar {
  margin-bottom: 15px;
}

#input-message {
  background: #000;
  bottom: 0;
  position: fixed;
  padding: 10px;
  /*width: 100%;*/
  /*height: 200px;*/
}

#text{
  font-size: 1.5em;
  rows: 5;
  width: 100%;
  /*height: 200px;*/
  /*resize: none;*/
}

/*.input-text{
  height: 300px;
}*/

/*

.input-group .form-group {
  padding-left: 10%;
  padding-right: 20px;
  position: fixed;
  width: 100%;
  height: 100%;
}

.input-group #media-menu {
  width: 10%;
  position: relative;
  height: 100%;

}*/


#messages {
  padding: 10px;
  font-size: 18px;
  list-style-type: none;
  overflow-y: scroll;
  height: 90%;
  width: 100%;
  position: fixed;
}

#messages h3 {
  color: blue;
}

#messages img {
  float:left;
  height:100px;
  margin-right: 20px;
}

#messages li {
  padding-left: 30px;
  padding-bottom: 50px;
}

#messages li:nth-child(odd) {
  background: #eee;
}
